.navbar {
    transition: all 0.35s ease-in-out;

    &.navbar-fixed {
        padding-top: $spacer * 0.5;
        padding-bottom: $spacer * 0.5;

        .navbar-brand {
            opacity: 1;
        }
    }

    .navbar-brand {
        opacity: 0;
        transition: all 0.175s ease-in-out;

        img {
            max-height: 2.5rem;
        }
    }

    .navbar-toggler {
        border-color: transparent !important;
    }
}
