section.pb-6#intro
    .container
        .row.py-3
            .col-12.col-lg-4
                img.img-fluid(src=site+'/img/brand/logo-light.gif' alt='')
        .row
            .col-12.col-lg-6
                p.lead
                    | For two days in Decembre,
                    br
                    | C2C attendees connected with
                    br
                    | some of Balkan&rsquo;s leading designers,
                    br
                    | artists, technologists, and researcher
            .col-12.col-lg-4.mt-4
                h1.display-5.fw-bold
                    | 09 &mdash; 10th
                    br
                    | Decembre 2021
                    br
                    | Belgrade
