section.pb-6#program
    .container
        h1.display-5.mb-6 Program
        .row.pb-3.mb-5.border-bottom.border-dark
            .col-12.col-lg-4
                h4.fw-bold
                    a.text-decoration-none(href='#') 09th novembre, Tuesday
            .col-12.col-lg-4
                h4.fw-light
                    a.text-decoration-none(href='#') 10th novembre, Tuesday
        .row
            .col-12.col-lg-4
                h4.mb-4.fw-bold SALA 6
                .mb-4
                    h4.mb-0.fw-normal 10:00 - 11:00
                    p.mb-0.fw-bold Market @ NEM Terrace and Market
                    p.mb-0.fw-light Outdoor and indoor meetings
                .mb-4.mb-lg-0
                    h4.mb-0.fw-normal 10:00 - 11:00
                    p.mb-0.fw-bold Market @ NEM Terrace and Market
                    p.mb-0.fw-light Outdoor and indoor meetings
            .col-12.col-lg-4
                h4.mb-4.fw-bold PRESS ROOM
                .mb-4
                    h4.mb-0.fw-normal 10:00 - 11:00
                    p.mb-0.fw-bold Market @ NEM Terrace and Market
                    p.mb-0.fw-light Outdoor and indoor meetings
                .mb-4.mb-lg-0
                    h4.mb-0.fw-normal 10:00 - 11:00
                    p.mb-0.fw-bold Market @ NEM Terrace and Market
                    p.mb-0.fw-light Outdoor and indoor meetings
            .col-12.col-lg-4
                h4.mb-4.fw-bold ATRIUM
                .mb-4
                    h4.mb-0.fw-normal 10:00 - 11:00
                    p.mb-0.fw-bold Market @ NEM Terrace and Market
                    p.mb-0.fw-light Outdoor and indoor meetings
                .mb-4.mb-lg-0
                    h4.mb-0.fw-normal 10:00 - 11:00
                    p.mb-0.fw-bold Market @ NEM Terrace and Market
                    p.mb-0.fw-light Outdoor and indoor meetings
