section.pb-6#themes
    .container
        .row
            .col-12.col-lg-8.offset-lg-2
                .carousel
                    .carousel-item.py-6.text-center
                        h1.display-5
                            | Is Streaming the 
                            a(href='#') future of sports?
                    .carousel-item.py-6.text-center
                        h1.display-5
                            | Is Streaming the 
                            a(href='#') future of sports?
                    .carousel-item.py-6.text-center
                        h1.display-5
                            | Is Streaming the 
                            a(href='#') future of sports?
                    .carousel-item.py-6.text-center
                        h1.display-5
                            | Is Streaming the 
                            a(href='#') future of sports?
