nav#nav-main.navbar.navbar-expand-lg.navbar-light.fixed-top.bg-light
    .container
            a.navbar-brand.p-0.fs-0(href='#')
                img.img-fluid(src='img/brand/logo.png' alt='')
            button.navbar-toggler.ms-auto(type='button' data-bs-toggle='collapse' data-bs-target='#nav' aria-controls='nav' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #nav.collapse.navbar-collapse
                ul.navbar-nav.ms-auto
                    li.nav-item
                        a.nav-link.fs-5.text-uppercase(href='#speakers') Speakers
                    li.nav-item
                        a.nav-link.fs-5.text-uppercase(href='#program') Program
                    li.nav-item
                        a.nav-link.fs-5.text-uppercase(href='#contact') Contact
                    li.nav-item
                        a.nav-link.fs-5.text-uppercase(href='#about') About
                    li.nav-item
                        a.nav-link.fs-5.text-uppercase(href='#partners') Partners
                    li.nav-item
                        a.nav-link.fs-5.text-uppercase(href='#news') News
